.colors {
  align-self: stretch;
  background-image: url('../../img/bgTransparent.svg');
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.colorContainer {
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-basis: 100%;
  min-height: 8rem;
  padding: 2rem 1rem 3rem 1rem;
  position: relative;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.colorInfo {
  flex-basis: 100%;
  max-width: 22.5rem;
  position: relative;
  z-index: 10;
}

.colorInput {
  border: 0;
  border-bottom: 1px solid currentColor;
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 0.5rem 0;
}

.colorInput:focus {
  outline: none;
}

.colorInputLabel {
  display: block;
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 0.4rem;
  opacity: 0.8;
}

.colorPickerContainer {
  display: block;
  height: 28px;
  position: absolute;
  right: 0;
  top: 1.5rem;
  transition: opacity 0.1s;
  width: 24px;
}

.colorPickerContainer:hover,
.colorPickerContainer:focus {
  opacity: 0.8;
}

.colorPickerContainer:hover svg,
.colorPickerContainer:focus svg {
  transform: scale3d(0.9, 0.9, 1);
}

.colorPickerContainer input {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 30px;
  opacity: 0;
  position: absolute;
  width: 24px;
}

.colorPickerContainer svg {
  pointer-events: none;
  transform: scale3d(0.8, 0.8, 1);
  transition: transform 0.1s;
}

@media (min-width: 24em) {
  .colorInput {
    font-size: 1.4rem;
  }
}

@media (min-width: 45em) {
  .colorContainer {
    flex-basis: 50%;
  }

  .colorInput {
    font-size: 1.2rem;
  }
}

@media (min-width: 50em) {
  .colorInput {
    font-size: 1.4rem;
  }
}
