.controls {
  align-self: flex-end;
  background-color: #fff;
  width: 100%;
}

.controlsHeading {
  color: #B50003;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 0.75rem 0 0 0;
}

.controlsHeading.deprecated {
  color: #c6c6c6;
}

.colorFunc {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 1rem;
}

.colorFuncInput {
  border: 0;
  box-sizing: border-box;
  color: #c6c6c6;
  font-size: 1.2rem;
  margin: 1rem 0 0.7rem 0;
  padding: 0;
}

.colorFuncInput::-moz-selection {
  background-color: #B50003;
  color: #fff;
}

.colorFuncInput::selection {
  background-color: #B50003;
  color: #fff;
}

.adjusters .controlsHeading {
  padding-left: 1rem;
}

.adjustersList {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  overflow-x: scroll;
  padding: 0.3rem 1rem 0.9rem 0;
}

.adjustersList li {
  box-sizing: border-box;
  display: block;
  margin-right: 1.5rem;
  min-width: 9rem;
  padding: 0.5rem;
}

.adjustersList li:last-child {
  padding-right: 1.2rem;
}
