.adjuster {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0.8rem 1rem 0.8rem;
  text-align: center;

  border-radius: 4rem;
  height: 7.5rem;
  width: 7.5rem;
}

.adjusterValue {
  flex-basis: 100%;
}

.adjusterValInput {
  appearance: none;
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 1.4rem;
  padding: 0;
  margin-top: 0.5rem;
  text-align: center;
  width: 100%;
}

.adjusterLabel {
  display: block;
  flex-basis: 100%;
  font-size: 0.7rem;
}

.adjusterValRange {
  appearance: none;
  background-color: transparent;
  box-sizing: border-box;
  display: block;
  margin: 0.8rem 0 0 0;
  width: 100%;
}

.adjusterValRange::-webkit-slider-runnable-track {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  cursor: pointer;
  height: 2px;
  width: 100%;
}

.adjusterValRange::-webkit-slider-thumb {
  appearance: none;
  background-color: rgba(0, 0, 0, 0.7);
  border: 0;
  border-radius: 0.5rem;
  height: 1rem;
  margin-top: -0.45rem;
  width: 1rem;
}
