.adjuster {
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: #252525;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  text-align: center;

  border-radius: 4px;
  min-width: 8rem;
}

.adjusterLabel {
  display: block;
  flex-basis: 100%;
  font-size: 0.9rem;
  margin: 0.5rem 0 0 0;
  padding: 0.4rem 0.1rem;
}

.adjusterValue {
  box-sizing: border-box;
  flex-basis: 100%;
  padding: 0.5rem 1rem 1.4rem 1rem;
}

.adjusterValInput {
  appearance: none;
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  color: #252525;
  display: block;
  font-size: 1.1rem;
  padding: 0;
  margin-top: 0.25rem;
  text-align: center;
  width: 100%;
}

.adjusterValRange {
  appearance: none;
  background-color: transparent;
  box-sizing: border-box;
  color: rgb(23, 23, 23);
  display: block;
  margin: 1.2rem 0 0 0;
  opacity: 0.75;
  padding: 0;
  width: 100%;
}

.adjusterValRange::-webkit-slider-runnable-track {
  background-color: currentColor;
  border-radius: 2px;
  cursor: pointer;
  height: 2px;
  width: 100%;
}

.adjusterValRange::-webkit-slider-thumb {
  appearance: none;
  background-color: currentColor;
  border: 0;
  border-radius: 0.5rem;
  height: 1rem;
  margin-top: -0.45rem;
  width: 1rem;
}
