html,
.root {
  height: 100%;
}

body {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Karla', helvetica, sans-serif;
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px;
}

[role='banner'] {
  border-bottom: 1px solid currentColor;
  padding-bottom: 1rem;
}

.bannerTitle {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.bannerIntro {
  margin-top: 0.4rem;
}

.bannerIntro small {
  display: block;
  margin-top: 0.4rem;
  opacity: 0.75;
}

.colors {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.colorContainer {
  box-sizing: border-box;
  flex-basis: 100%;
  padding: 1rem;
  transition: 0.2s ease;
}

.baseColorContainer {
  margin-top: 2rem;
}

.outputColor {
  border-top: 8px solid #fff;
  padding-bottom: 12rem;
}

.adjusters {
  background-color: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

.adjusters h3 {
  color: rgb(98, 0, 128);
  font-size: 1rem;
  margin: 0;
  padding: 0.75rem 1rem 0 1rem;
}

.adjustersList {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  overflow-x: scroll;
  padding: 0.25rem 1rem 0.9rem 0.5rem;
}

.adjustersList li {
  box-sizing: border-box;
  display: block;
  min-width: 9rem;
  padding: 0.5rem;
}

.adjustersList li:last-child {
  padding-right: 1.2rem;
}

@media (min-width: 43em) {
  .colorContainer {
    flex-basis: 50%;
  }

  .outputColor {
    border-top: 0;
    border-left: 8px solid #fff;
    padding-bottom: 0;
  }
}

.colorInput {
  appearance: none;
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  font-size: 1.4rem;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
}

input {
  font-family: 'Cousine', monospace;
}

h1 {
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-top: 1rem;
}

label small {
  display: block;
  font-family: 'Cousine', monospace;
  font-size: 75%;
  margin-top: 0.3rem;
  opacity: 0.9;
}
