html,
.root {
  height: 100%;
}

body {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Karla', helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
}

input {
  font-family: 'Cousine', monospace;
}

h1 {
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

label {
  display: block;
  font-size: 1.2rem;
}

a {
  background-color: rgba(242, 17, 7, 0);
  border-bottom: 2px solid rgba(242, 17, 7, 0.15);
  color: #f21107;
  display: inline-block;
  text-decoration: none;
  transition: 0.1s ease;
}

a:hover,
a:focus {
  background-color: rgba(242, 17, 7, 0.1);
  border-color: #f21107;
}

main {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.resetInput {
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  cursor: text;
  box-sizing: border-box;
  display: block;
  transition: 0.2s ease;
  width: 100%;
}

@media (min-height: 40em) and (max-width: 43em) {
  main {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

@media (min-height: 27em) and (min-width: 43em) {
  main {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
